*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# Visual Studio
.vs/
bin/
obj/
*.user
*.cache

# Godot
.godot/
.nomedia
.import/
export.cfg
export_credentials.cfg
*.translation
.mono/
data_*/
mono_crash.*.json